/__pycache__/
/.vscode/
/rough/
/venv/
/_build/
temp.py
temp2.py
temp3.py
/~$Course Preferences - Alex.xlsx
/Course Preferences - Alex.xlsx
/Course Preferences - Vibha.xlsx
/amplFiles/test_alex_1.dat
/amplFiles/test_vibha_2.dat
/amplFiles/test_vibha.dat
/amplData/test_alex_1
/amplData/test_vibha
/amplData/test_vibha_2