/__pycache__/
/.vscode/
/rough/
/venv/
/_build/
/amplData/local
/amplFiles/local
/Course Preferences - Alex.xlsx
/Course Preferences - Vibha.xlsx
pylintrc
/amplData/test_alex_1
/~$Course Preferences - Alex - 3.xlsx
/Course Preferences - Alex - 2.xlsx
/Course Preferences - Alex - 3.xlsx
/temp.py
/Course Schedule User Input - Alex.xlsx
exec.run